<!DOCTYPE html>
<html>
<head>
<title>PilgrimFlow</title>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>

<style>
body { margin:0; font-family:'Segoe UI'; background:#0f172a; }
#map { height:100vh; }

.panel {
position:absolute; top:70px; left:20px;
width:320px; padding:15px;
background:rgba(255,255,255,0.9);
border-radius:15px;
z-index:1000;
}

button { width:100%; padding:10px; margin-top:5px; }
</style>
</head>

<body>

<div class="panel">

<input id="search" placeholder="Search temple..." oninput="showSuggestions()">
<div id="suggestions"></div>

<button onclick="searchTemple()">Search</button>
<button onclick="useLocation()">📍 Use My Location</button>
<button onclick="getCrowd()">Check Crowd</button>
<button onclick="getPrediction()">Best Time</button>

<div id="result"></div>

</div>

<div id="map"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>

var map = L.map('map').setView([20.5937,78.9629],5);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

var selectedTemple="";

function searchTemple(){
var query=document.getElementById("search").value;

fetch("/search_temple?query="+query)
.then(res=>res.json())
.then(data=>{
var lat=parseFloat(data[0].lat);
var lon=parseFloat(data[0].lon);

map.setView([lat,lon],13);
L.marker([lat,lon]).addTo(map).bindPopup(data[0].name).openPopup();

selectedTemple=data[0].name;
});
}

function useLocation(){
navigator.geolocation.getCurrentPosition(pos=>{
var lat=pos.coords.latitude;
var lon=pos.coords.longitude;

map.setView([lat,lon],13);
L.marker([lat,lon]).addTo(map).bindPopup("You").openPopup();

fetch("/update_location",{
method:"POST",
headers:{"Content-Type":"application/json"},
body:JSON.stringify({lat:lat,lon:lon})
});
});
}

function getCrowd(){
fetch("/crowd/"+selectedTemple)
.then(res=>res.json())
.then(d=>{
document.getElementById("result").innerHTML=
"People: "+d.people_count+"<br>"+
"Capacity: "+d.capacity+"<br>"+
"Score: "+d.score+"<br>"+
"Crowd: "+d.crowd_level;
});
}

function getPrediction(){
fetch("/predict/"+selectedTemple)
.then(res=>res.json())
.then(d=>{
document.getElementById("result").innerHTML="Best Time: "+d.best_time;
});
}

</script>

</body>
</html>
